# Introducing Pandas Objects

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'2.1.3'

## The Pandas Series Object

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values # numpy array dtype

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

**Series as Generalized NumPy Array**

In [7]:
data = pd.Series(
    data=[0.25, 0.50, 0.75, 1.0],
    index=["a", "b", "c", "d"],
)
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
data = pd.Series(
    data=[0.25, 0.50, 0.75, 1.0],
    index=[2, 5, 3, 7],
)
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data[5]

0.5

**Series as Specialized Dictionary**

In [11]:
dict_ = {
    "California": 39538223,
    "Texas": 29145505,
    "Florida": 21538187,
    "New York": 20201249,
    "Pennsylvania": 13002700,
}

# Series from a python dict
population_series = pd.Series(dict_)
population_series

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [12]:
population_series["California"]

39538223

In [13]:
population_series["California":"Florida"] # included end

California    39538223
Texas         29145505
Florida       21538187
dtype: int64

**Constructing Series Objects**

In [14]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[1, 2]) #index for order

1    b
2    a
dtype: object

## The Pandas DataFrame Object

**DataFrame as Generalized NumPy Array**

In [18]:
dict_ = {
    "California": 423967,
    "Texas": 695662,
    "Florida": 170312,
    "New York": 141297,
    "Pennsylvania": 119280,
}

area_series = pd.Series(dict_)
area_series

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
dtype: int64

In [19]:
state_df = pd.DataFrame(
    {
        "population": population_series,
        "area": area_series,
    }
)
state_df

              population    area
California      39538223  423967
Texas           29145505  695662
Florida         21538187  170312
New York        20201249  141297
Pennsylvania    13002700  119280

In [20]:
state_df.index

Index(['California', 'Texas', 'Florida', 'New York', 'Pennsylvania'], dtype='object')

In [21]:
state_df.columns

Index(['population', 'area'], dtype='object')

In [22]:
state_df['area'] # series dtype

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

**Constructing DataFrame Objects**

In [23]:
pd.DataFrame(population_series, columns=['population'])

              population
California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700

**From a list of dicts**

In [24]:
data = [{"a": i, "b": 2 * i} for i in range(3)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

In [25]:
pd.DataFrame([{"a": 1, "b": 2}, {"b": 3, "c": 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

**From a two-dimensional NumPy array**

In [26]:
pd.DataFrame(
    np.random.rand(3, 2),
    columns=["foo", "bar"],
    index=["a", "b", "c"],
)

        foo       bar
a  0.263249  0.645206
b  0.158968  0.565404
c  0.229485  0.485295

**From a NumPy structured array**

In [27]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
print(A)
pd.DataFrame(A)

[(0, 0.) (0, 0.) (0, 0.)]

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

In [28]:
I = pd.Index([2, 3, 5, 7, 11])
I

Index([2, 3, 5, 7, 11], dtype='int64')

**Index as Immutable Array**

In [29]:
I[1]

3

In [30]:
I[::2]

Index([2, 5, 11], dtype='int64')

In [31]:
I.size, I.shape, I.ndim, I.dtype

(5, (5,), 1, dtype('int64'))

In [32]:
# I[1] = 0 # error because it is immutable

**Index as Ordered Set**

In [33]:
I1 = pd.Index([1, 3, 5, 7, 9])
I2 = pd.Index([2, 3, 5, 7, 11])

In [34]:
I1.intersection(I2)

Index([3, 5, 7], dtype='int64')

In [35]:
I1.union(I2)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [36]:
I1.symmetric_difference(I2)  # exclusive

Index([1, 2, 9, 11], dtype='int64')